@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,700&display=swap');
*{
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
}
html{
font-size: 14px;
}
body{
    font-family: 'Roboto', sans-serif;
    
}
#container{
    max-width: 1200px;
    margin: 0 auto;
}

#box .header-image{
    background: url('../img/mediterranean-cuisine-2378758_640.jpg');
    height: 200px;
    max-width: 1200px;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 auto;
}
#nav{
    max-width: 1200px;
    height:auto;
    display: inline;
}
#nav::after{
    content: "";
	clear: both;
	display: table;
}
#nav ul{
    width: 100%;
    text-align: center;
    background-color: bisque;
    list-style: none;
}

#nav>ul>li{
    padding:5px 0;
    border: 2px dotted gray; 
    float: left;
    width: 19.9999%;
    background-color: orange;
}

#nav>ul>li>a{
    text-decoration: none;
    color:rgb(84, 13, 61);
    font-size: large;
}
#nav ul li:hover{
    background-color:rgb(128, 102, 0);
}
#nav ul li a:hover{
    color: darkcyan;
}
#content{
    background:url(../img/brooke-lark-08bOYnH_r_E-unsplash.jpg);
    background-size: cover;
    max-width: 1200px;
    height: 800px;
    box-shadow: rgba(0, 0, 30px, 0.8);
}
#content .news{
    max-width: 49.9999%;
    float: right;
    text-align: justify;
    line-height: 1.5;
    font-size: .9rem;
    padding-top: 40px;
    padding-right: 30px;
}
#content::after{
    content: "";
	clear: both;
	display: table;
}
.news h1{
    padding: 20px 40px;
    text-align: center;
    font-size: xx-large;
}
.has-submenu{
    position: relative;
}
.submenu{
    display: none;
    position: absolute;
    background-color: black;
    color: white;
    width: 100%;
}
.submenu li a {
    color: white;
    text-decoration: none;
    padding: 15px 0;
    display: block;
}
.submenu li a:hover{
    background-color: lightgray;
    

}
.has-submenu:hover .submenu{
    display: block;
}

#footer{
    height: 300px;
    width: auto;
    
    
}